.button {
	display: inline-block;
	padding: 1rem;

	background: $acac-blue;
	color: $acac-black;
	text-align: center;

	transition: background-color 0.1s ease-out;

	&:hover, &:focus {
		color: $acac-black;
		border-bottom: 0;
		background: darken($acac-blue, 10%);
	}
}

.button--full {
	@include span(12);

	@include breakpoint($medium-screen-break) {
		@include span(6);
	}
}

.button--emphasis {
	background: $acac-red;
	// color: white;

	&:hover, &:focus {
		background: darken($acac-red, 10%);
	}
}