.logo__image {
	// height: 100px;
	// width: 100px;

	@include span(4);

	@include breakpoint($medium-screen-break) {
		@include span(2);
	}
}

.logo__link {
	&:hover {
		border-bottom: none;

		.logo__image {
			transform: rotate(12deg);
		}
	}
}

.logo--hero {
	margin: 5rem auto;

	@include breakpoint($medium-screen-break) {
		margin: 7rem auto;
	}

	.logo__image {
		height: 200px;
		width: 200px;
		
		padding: 0;
		float: none;

		transition: transform 0.1s ease-in;

		@include breakpoint($medium-screen-break) {
			height: 250px;
			width: 250px;
		}
	}
}