.logo {
	margin: 5rem auto;
}

.logo__link {
	&:hover {
		border-bottom: none;

		.logo__image {
			transform: rotate(12deg);
		}
	}
}

.logo__image {
	height: 200px;
	width: 200px;

	transition: transform 0.1s ease-in-out;
}