.navigation__list {
	@include span(7);

	list-style: none;
	margin: 0;
	padding: 0;

	@include breakpoint($medium-screen-break) {
		@include span(8);
	}
}

.menu-item {
	display: block;
	@include span(7 of 7);

	@include breakpoint($medium-screen-break) {
		float: left;
		margin: 0;
		padding: 0;
		width: auto;
	}

	a { 
		display: block;
		padding: 0.5rem;

		// color: $acac-black;

		&:hover, &:focus {
			border-bottom: 0;

			background-color: $acac-dark-blue;
			color: #fff;
		}
	}
}

.current-menu-item {
	font-weight: bold;
}