.section {
	@include container($medium-screen);

	padding-bottom: 2rem;

	@include breakpoint($medium-screen-break) {
		@include container($large-screen);
	}
}

.section__content {
	@include span(10);
	@include pre(1);
	@include post(1);
}

.section--dark {
	background: $acac-black;

	padding: 2rem 0;
	max-width: 100%;

	.section__wrapper {
		background: white;

		padding: 2rem 0;
		@include container($medium-screen);

		@include breakpoint($medium-screen-break) {
			@include container($large-screen);
		}
	}
}