*, *:before, *:after {
	box-sizing: border-box;
}

body {
	background-color: white;
	color: $acac-black;
	font-family: Helvetica, Arial;
	font-size: 120%;
	line-height: 1.5;

	-webkit-font-smoothing: antialiased;
}

/**
 * Typography
 **/

a {
	color: $acac-dark-blue;
	text-decoration: none;

	&:hover, &:focus {
		color: lighten($acac-dark-blue, 20%);
		border-bottom: 1px solid lighten($acac-dark-blue, 20%);
	}
}