*, *:before, *:after {
	box-sizing: border-box;
}

body {
	background-color: white;
	color: $acac-black;
	font-family: Helvetica, Arial;
	font-size: 120%;
	line-height: 1.4;
}

.header {
	@include span(10);
	@include pre(1);
	@include post(1);
}